body{
    font-family: 'Texturina', serif;
    text-align: center;
    background: lightgoldenrodyellow;
}

h1{
    font-size: 7vw;
    margin: 0;
}
.list{
    position: absolute;
    margin-left: 42%;
}
.input_button{
    background: url("check.png");
    vertical-align:middle;
    /* font-family: 'Texturina', serif; */
    height: 30px;
    background-color:lightgoldenrodyellow ;
    margin-left: -10px;
    border-radius: 6px;
}

.input_text{
    margin-right: 0;
    vertical-align:middle;
    height: 25px;
    width: 320px;
    border-radius: 6px;
    background-color: rgba(235, 226, 100, 0.39);
}
.paper {
    position: absolute;
    height: 500px;
    width: 450px;
    background: rgba(255,255,255,0.9);
    margin: -140px -225px;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 5px 0px #888;
    overflow:visible ;
  }
  .paper::before {
    content: '';
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background: rgba(255,0,0,0.4);
  }
  .lines {
    margin-top: 20px;
    
    height: calc(100% - 40px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
  }
  .list-group-item{
    position: relative;
    left: -165px;
      font-size: 17.2px;
      line-height: 51.99px;
      display: flex;
      margin-top: -1.7px;
      white-space:nowrap; /*자동 줄바꿈 제한 해주는거*/

  }

  .btn-outline-secondary{
      position: absolute;
      margin-top: 10px;
      left: 330px;
      border: 0;
      outline: 0;
      background-color:rgba(255, 255, 255, 0);
      padding-top: 0;
      font-family: 'Texturina', serif;
  }
  #checkbox{
    position: absolute;
      margin-top: 20px;
      left: -50px;
      background-color: dimgray ;
      padding-top: 0;
      font-family: 'Texturina', serif;
  }

  /* .btn-outline-secondary ul:hover{
    background-color: red;
} */